<html>
<title>{{title}}</title>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
<h1>Server Console</h1>

<div class="data-console-panel">
  

  <div class="data-console-display">
    <!-- <div class="data-user-box">
      <img src="sprite/Online ICON.png">
      <h3>Num 1 User</h3>
    </div> -->
  </div>

  <div class="data-console-inputArea">
    <!-- <label>Create Room with capacity</label> -->
    <!-- <input name="max_user_number" placeholder="Type here . . . " value="2" type="number"/> -->
    <button id="console-createRoom" disabled>Create Server</button>
    <button id="data-console-disconnect">Disconnect</button>
    <!-- <button id="console-findRoom">Find Room</button> -->
  </div>

</div>

</body>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="javascript/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="javascript/UserViewCtrl.js"></script>


<script type="text/javascript">
  var socket = io.connect();
  let socket_id = "";

  //Holder
  let consoleDisplay = document.querySelector(".data-console-panel .data-console-display");
  let hasJoinRoom = false;
  let hasCreateRoom = false;

  //Input, Button Variable
  // let maxUserInput = document.querySelector(".data-console-panel .data-console-inputArea input");
  let createRoomBt = document.querySelector(".data-console-panel .data-console-inputArea #console-createRoom");
  let findRoomBt = document.querySelector(".data-console-panel .data-console-inputArea #console-findRoom");
  let disconnectBT = document.querySelector(".data-console-panel #data-console-disconnect");
  let consoleDisplayView = $(".data-console-panel .data-console-display");

      disconnectBT.style.visibility="hidden";

  let CreateRoom = function(jsonString) {
    socket.emit("CreateRoom", jsonString);
    hasCreateRoom = true;
    console.log(consoleDisplayView);
    RenderUserComp(10, 0, consoleDisplayView)
  };

  // setInterval(function() {
  //   if (socket_id !== "" && hasJoinRoom && !hasCreateRoom) {
  //     socket.emit("CastMessage", JSON.stringify({
  //       "socket_id" : socket_id,
  //       "position" : "(20, 20, 40)"
  //     }));
  //   }
  // }, 1000 / 100);

  socket.on('OnConnect', function (data) {
    console.log(data);
    let connectJSON = JSON.parse(data);
    socket_id = connectJSON["socket_id"];

    createRoomBt.disabled = false;
  });

  socket.on('CastMessage', function (data) {
    console.log("CastMessage : " + JSON.stringify(data));
  });


  socket.on('RoomInfoUpdate', function (data) {
    console.log(data);
    hasJoinRoom = true;
    try {
      let connectJSON = JSON.parse(data);
      RenderUserComp(10, connectJSON["user_num"], consoleDisplayView)
    } catch(e) {
      
    }
  });

  socket.on('ForceLeaveRoom', function () {
    console.log("ForceLeaveRoom");
    hasJoinRoom = false;
  }); 

  createRoomBt.addEventListener("click", function() {
    let maxUserNum = 10;
    // if (maxUserInput.value !== "" || maxUserInput.value <= 0) {
      CreateRoom(JSON.stringify({
        socket_id : socket_id,
        room_capacity : maxUserNum
      }));

      createRoomBt.disabled = true;
    //}
  });
  
  var FindRoom = function() {
    socket.emit("FindRoom");
  }

  $.get( "/ip", function( data ) {
    var originalTitle = $("h1").text();
    $( "h1" ).html(originalTitle +" ("+ data +")");

  });


  // findRoomBt.addEventListener("click", function() {
  //   FindRoom();
  // });

</script>
</html>
