
h1 {
    color: antiquewhite;
    text-align: center;
}

.data-console-display {
    margin-top: 1rem;
    text-align: left;
}
.data-user-box{
    height : 10rem;
    width: 5em;
    display: inline-block;
    margin: auto 2rem;
    padding: 2rem 4rem;
    background-image: url("../sprite/RED.png");
    text-align: center;

}

.data-user-box img {
    display: inline;
    width: 5em;
}

.data-console-inputArea {
    padding: 2em 0em;
    margin: 0 auto;
    width: 5em;
}

.data-console-inputArea #console-createRoom {
    background-color: aqua;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    max-width: 10rem;
    font-size: 1rem;
}

.data-console-inputArea #console-createRoom:hover {
    background-color: aquamarine;
}

body {
    background-image: url("../sprite/BG.png");

}